html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
}

.st {
  padding-top: 2px;
  text-align: center;
  margin-top: 400px;
  position: absolute;
  width: 20px;
  height: 20px;
  color: white;
  background-color: red;
  border-radius: 50%;
  -webkit-transition: 1s;
  transition: 1s;
}

.teble {
  position: fixed;
  float: left;
  border: 2px solid #10535c;
  border-radius: 10px;
  padding: 10px;
  z-index: 100;
}

.pias {
  border-bottom: 1px solid #000000;
  padding: 5px;
}

.pias:last-child {
  border-bottom: 0px;
  padding: 0px;
  padding-top: 5px;
}

input {
  width: 40px;
}

.button {
  display: inline-block;
  border-radius: 6px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 10px 2px;
  width: 50%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 2px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 23px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button-two {
  display: block;
  padding: 10px 7px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  -webkit-box-shadow: 0 6px #999;
          box-shadow: 0 6px #999;
  float: right;
}

.button-two:hover {
  background-color: #3e8e41;
}

.button-two:active {
  background-color: #3e8e41;
  -webkit-box-shadow: 0 4px #666;
          box-shadow: 0 4px #666;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}
